<h4 >Hi {{data[0].name| titlecase}},</h4>
<h4 >Wallet Amount:{{wallet}}</h4 >


<input class="">
<button class="btn" (click)="addwallet()">Add to my wallet</button>

<br>

<h3>Account History</h3>
      <table class = "centered">
         <thead>
            <tr><th>Date</th>
               <th>Time</th>
               <th>Result</th>
            </tr>
         </thead>
         
         <tbody>
            <tr *ngFor="let hdata of historyData.slice().reverse()">
               <td>{{hdata.date}}</td>
               <td>{{hdata.time}}</td>
               <td *ngIf="hdata.result">Won</td>
			   <td *ngIf="!hdata.result">Lost</td>
            </tr>
     
         </tbody>
      </table>
      